#carrosel-de-elementos-do-metodo-g-da-magnix {
  background: var(--cor-primaria) no-repeat;

  padding: 2.4rem 0;

  width: 100%;

  overflow: hidden;
}

#carrosel-de-elementos-do-metodo-g-da-magnix
  #conteudo-do-carrossel-de-elementos-do-metodo-g-da-magnix {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;

  animation: apareceNaTelaInfinitamente 20s infinite linear;
}

#carrosel-de-elementos-do-metodo-g-da-magnix .engrenagem-dourada {
  width: 100%;
  max-width: 2.4rem;
}

#carrosel-de-elementos-do-metodo-g-da-magnix .texto-1-do-carrosel-do-metodo-g {
  width: 100%;
  max-width: 25.6rem;
}

#carrosel-de-elementos-do-metodo-g-da-magnix .metodo-g-logo {
  width: 100%;
  max-width: 6.4rem;
}

#carrosel-de-elementos-do-metodo-g-da-magnix .texto-2-do-carrosel-do-metodo-g {
  width: 100%;
  max-width: 32rem;
}

#carrosel-de-elementos-do-metodo-g-da-magnix .magnix-logo {
  width: 100%;
  max-width: 6.4rem;
}

#carrosel-de-elementos-do-metodo-g-da-magnix .texto-3-do-carrosel-do-metodo-g {
  width: 100%;
  max-width: 25.6rem;
}
