.carrossel-de-elementos-do-metodo-g-da-magnix {
  background: var(--cor-primaria) no-repeat;

  padding: 2.4rem 0;

  width: 100%;

  overflow: hidden;
}

.carrossel-de-elementos-do-metodo-g-da-magnix
  .conteudo-do-carrossel-de-elementos-do-metodo-g-da-magnix {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;

  animation: apareceNaTelaInfinitamente 20s infinite linear;
}

.carrossel-de-elementos-do-metodo-g-da-magnix .engrenagem-dourada {
  width: 100%;
  max-width: 2.4rem;
}

.carrossel-de-elementos-do-metodo-g-da-magnix
  .texto-1-do-carrossel-de-elementos-do-metodo-g-da-magnix {
  width: 100%;
  max-width: 25.6rem;
}

.carrossel-de-elementos-do-metodo-g-da-magnix
  .logo-do-metodo-g-da-agencia-magnix {
  width: 100%;
  max-width: 6.4rem;
}

.carrossel-de-elementos-do-metodo-g-da-magnix
  .texto-2-do-carrossel-de-elementos-do-metodo-g-da-magnix {
  width: 100%;
  max-width: 32rem;
}

.carrossel-de-elementos-do-metodo-g-da-magnix .logo-da-magnix {
  width: 100%;
  max-width: 6.4rem;
}

.carrossel-de-elementos-do-metodo-g-da-magnix
  .texto-3-do-carrossel-de-elementos-do-metodo-g-da-magnix {
  width: 100%;
  max-width: 25.6rem;
}
