#carrosel-do-metodo-g {
  background: var(--cor-primaria) no-repeat;

  width: 100%;

  display: flex;
  align-items: center;
  gap: 2.4rem;

  padding: 2.4rem;

  overflow: hidden;
}

#carrosel-do-metodo-g .engrenagem-dourada {
  width: 100%;
  max-width: 2.4rem;
}

#carrosel-do-metodo-g .texto-1-do-carrosel-do-metodo-g {
  width: 100%;
  max-width: 25.6rem;
}

#carrosel-do-metodo-g .metodo-g-logo {
  width: 100%;
  max-width: 6.4rem;
}

#carrosel-do-metodo-g .texto-2-do-carrosel-do-metodo-g {
  width: 100%;
  max-width: 32rem;
}

#carrosel-do-metodo-g .magnix-logo {
  width: 100%;
  max-width: 6.4rem;
}

#carrosel-do-metodo-g .texto-3-do-carrosel-do-metodo-g {
  width: 100%;
  max-width: 25.6rem;
}
