#quinta-secao {
  position: relative;

  overflow: hidden;
}

#quinta-secao #g-branco-da-quinta-secao,
#quinta-secao #bola-roxa-grande {
  position: absolute;
  z-index: -1;
  right: 0;
}

#quinta-secao #g-branco-da-quinta-secao {
  top: 2.4rem;

  max-width: 44.8rem;
}

#quinta-secao #bola-roxa-grande {
  bottom: 0;

  max-width: 18.4rem;
}

#quinta-secao #conteudo-da-quinta-secao {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  margin-bottom: 4.8rem;
}

#quinta-secao #textos-do-conteudo-da-quinta-secao {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

#quinta-secao h2 {
  font-size: 2.4rem;
  font-weight: 600;

  line-height: 3rem;

  color: var(--cor-de-texto);
}

#quinta-secao p {
  line-height: 2.4rem;

  color: var(--cor-de-texto);

  font-weight: 500;
}

#quinta-secao ul {
  list-style-position: inside;

  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

#quinta-secao ul li {
  color: var(--cor-de-texto);

  line-height: 2.4rem;

  font-weight: 500;
}

#quinta-secao img {
  width: 100%;
  max-width: 44.8rem;

  margin: auto;
}

#quinta-secao a {
  background: var(--cor-primaria) no-repeat;

  color: var(--cor-de-texto);

  font-size: 1.8rem;
  font-weight: 500;

  line-height: 2rem;

  border-radius: 2rem;

  padding: 1.2rem 2.4rem;

  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  display: block;

  width: 100%;
  max-width: fit-content;

  margin: auto;

  box-shadow: 0.2rem 0.2rem 0.4rem rgb(12, 12, 12, 0.4);
}

@media (width >= 768px) {
  #quinta-secao h2 {
    font-size: 3rem;

    line-height: 3.6rem;
  }

  #quinta-secao p {
    font-size: 1.8rem;
  }

  #quinta-secao ul li {
    font-size: 1.8rem;

    line-height: 3rem;
  }

  #quinta-secao a {
    font-size: 2rem;

    line-height: 2.4rem;
  }
}

@media (width >= 1024px) {
  #quinta-secao #conteudo-da-quinta-secao {
    flex-direction: row;
  }
}
