#secao-de-inicio {
  min-height: calc(100vh - 24vh);
}

#secao-de-inicio #conteudo-da-secao-de-inicio {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

#secao-de-inicio h1,
#secao-de-inicio span {
  font-size: 3rem;
  font-weight: 700;

  line-height: 3.6rem;

  animation: apareceNaTela 2s ease-in-out;
}

#secao-de-inicio h1 {
  color: var(--cor-de-texto);
}

#secao-de-inicio span {
  background-image: var(--cor-primaria);
  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
}

#secao-de-inicio h2 {
  font-size: 2.4rem;
  font-weight: 600;

  line-height: 3rem;

  color: var(--cor-de-texto);

  margin: 4.8rem 0;

  animation: apareceNaTela 2.4s ease-in-out;
}

#secao-de-inicio a {
  text-decoration: none;

  color: var(--cor-de-texto);

  font-size: 1.8rem;
  font-weight: 500;

  line-height: 2rem;

  background: var(--cor-primaria);

  padding: 1.2rem 2.4rem;

  border-radius: 2.4rem;

  text-transform: uppercase;
  text-align: center;

  display: inline-block;

  animation: apareceNaTela 2.8s ease-in-out;
}

#secao-de-inicio img {
  width: 100%;
  max-width: 51.2rem;

  margin: auto;
}

@media (width >= 768px) {
  #secao-de-inicio h1,
  #secao-de-inicio span {
    font-size: 3.6rem;

    line-height: 4rem;
  }

  #secao-de-inicio h2 {
    font-size: 3rem;

    line-height: 3.6rem;
  }

  #secao-de-inicio a {
    font-size: 2rem;

    line-height: 2.4rem;
  }
}

@media (width >= 1024px) {
  #secao-de-inicio #conteudo-da-secao-de-inicio {
    flex-direction: row;
  }
}
