#segunda-secao {
  position: relative;

  overflow: hidden;
}

#segunda-secao #g-branco-da-segunda-secao {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;

  width: 100%;
  max-width: 51.2rem;
}

#segunda-secao #conteudo-da-segunda-secao {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  justify-content: center;
  align-items: center;
}

#segunda-secao #textos-do-conteudo-da-segunda-secao {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

#segunda-secao h2 {
  font-size: 2.4rem;
  font-weight: 600;

  line-height: 3rem;

  color: var(--cor-de-texto);
}

#segunda-secao ol {
  list-style-position: inside;

  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

#segunda-secao ol li {
  color: var(--cor-de-texto);

  line-height: 2.4rem;

  font-weight: 500;
}

#segunda-secao h3,
#segunda-secao span {
  font-size: 2rem;
  font-weight: 600;

  line-height: 2.4rem;
}

#segunda-secao h3 {
  color: var(--cor-de-texto);
}

#segunda-secao span {
  background-image: var(--cor-primaria);
  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
}

#segunda-secao #homem-no-notebook {
  width: 100%;
  max-width: 44.8rem;
}

@media (width >= 768px) {
  #segunda-secao h2 {
    font-size: 3rem;

    line-height: 3.6rem;
  }

  #segunda-secao ol li {
    font-size: 1.8rem;

    line-height: 3rem;
  }

  #segunda-secao h3,
  #segunda-secao span {
    font-size: 2.4rem;

    line-height: 3rem;
  }
}

@media (width >= 1024px) {
  #segunda-secao #conteudo-da-segunda-secao {
    flex-direction: row-reverse;
  }
}
