#setima-secao {
  overflow: hidden;
}

#setima-secao #conteudo-da-setima-secao {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

#setima-secao #texto-do-conteudo-da-setima-secao {
  display: flex;
  flex-direction: column;
}

#setima-secao h2,
#setima-secao h2 span {
  font-size: 2.4rem;
  font-weight: 600;

  line-height: 3rem;
}

#setima-secao h2 {
  color: var(--cor-de-texto);

  margin-bottom: 2.4rem;
}

#setima-secao span {
  background-image: var(--cor-primaria);
  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
}

#setima-secao p,
#setima-secao p span {
  font-weight: 500;
  font-size: 2rem;

  line-height: 2.4rem;
}

#setima-secao p {
  color: var(--cor-de-texto);
}

#setima-secao #foto-do-brian-sthefano {
  width: 100%;
  max-width: 67.2rem;

  margin: auto;
}

@media (width >= 768px) {
  #setima-secao h2,
  #setima-secao h2 span {
    font-size: 3rem;

    line-height: 3.6rem;
  }

  #setima-secao p,
  #setima-secao p span {
    font-size: 2.4rem;

    line-height: 3rem;
  }
}

@media (width >= 1080px) {
  #setima-secao #conteudo-da-setima-secao {
    flex-direction: row;
    gap: 0;
  }
}
